
 body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    
    .container {
        width: 300px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    
    .container h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .container input[type="text"],
    .container input[type="email"],
    .container input[type="date"],
    .container input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    
    .container input[type="submit"] {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 3px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
    }
    
    .container input[type="submit"]:hover {
        background-color: #0056b3;
    }
    .SubHead
{
	font-family:"Segoe UI";
	color:#FFF;
	font-size:20px;
}
.labels
{
	font-family:"Trebuchet MS";
	font-size:16px;
	color:rgb(51, 136, 255);
    
}
.fields
{
	font-family:"Trebuchet MS";
	font-size:14px;
	color:black;
	border-radius:5px;
	padding:4px 6px;
	border:1px solid rgb(51, 61, 255);
	background-color:transparent;
}

.table
{
	border-radius:5px;
	padding:0px 5px;
	border:1px solid rgb(51, 61, 255);
	background-color:transparent;
}